 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Founded in 2017, Southern SEO, as the name suggests, is an online marketing agency specialising in helping small businesses to increase their online footprint and therefore attract more clients. Set up by some of the brightest students from leading Russel Group Universities, we have a wealth of knowledge to share with you. Whether you simply need consultation regarding marketing your business, or a complete overhaul of your website, we are here to help in every way possible. We do not specialise in a certain SEO technique, but rather tailor techniques specific to your business or client base. We do, however, specialise in working with smaller businesses to rapidly grow their client bases. Whether you need help improving your local listings, compiling emailing lists, effectively managing your social media presence, or any other online marketing techniques, we are here to help and advise you.</p>
                </div>
                <div class="col-lg-4">
                    <p>Current search engines are incredibly biased in favour of larger businesses, with those who have the most money being able to effectively push their competitors to the back pages where the majority (90%+) of consumers do not look. The simple fact of the matter is that unless you are on the first page of results, and increasingly even in the top three search results, the number of clients you can attract is drastically reduced. As technology improves and an increasing number of searches are conducted on phones and via voice (such as the Amazon Echo), the importance of being within the top search results is going to increase even further. This is where we can help you. We have a wealth of knowledge regarding techniques to help you achieve the search rankings that you deserve. Below you will find a contact form, briefly fill it out and we can start the process of helping your business to grow! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
